<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Todo</title>
<link rel="stylesheet" href="css/style.css">
</head>
<body>
	<div class="wrapper">
		<div class="wrapHead">
			<h2 class="title">Todo Spring App</h2>
			<div class="changeItem">
				<a th:unless="${todoItemForm.done}" th:href="@{/todo?isDone=true}">完了したアイテムの表示</a>
				<a th:if="${todoItemForm.done}" th:href="@{/todo?isDone=false}">TODOの表示</a>
			</div>
			<div class="loginUser">
				<form th:action="@{/logout}" method="post" th:inline="text">
					login user: [[${lastName}]] [[${firstName}]] <input class="signOut"
						type="submit" value="Sign Out" />
				</form>
			</div>
		</div>

		<div class="wrapItems">
			<h3>TODOの追加</h3>
			<form method="post" th:action="@{/new}">
				<input type="text" name="title" maxlength="24" /> <input
					type="submit" value="追加" />
			</form>

			<h3>TODOリスト</h3>
			<table class="todoItems">
				<thead>
					<tr>
						<th class="todoHead">Title</th>
						<th>
							<form th:if="${todoItemForm.done}" method="post"
								th:action="@{/deleteAll}">
								<input type="hidden" name="done" th:value="true" /> <input
									type="submit" value="DeleteAll" />
							</form>
							<form th:unless="${todoItemForm.done}" method="post"
								th:action="@{/doneAll}">
								<input type="submit" value="DoneAll" />
							</form>
						</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="todoItem : ${todoItemForm.todoItems}">
						<td class="todoItem" th:text="${todoItem.title}">xxx</td>
						<td>
							<form th:unless="${todoItemForm.done}" method="post"
								th:action="@{/done}" th:object="${todoItem}">
								<input type="hidden" name="id" th:value="*{id}" /> <input
									type="submit" value="Done" />
							</form>
							<form th:if="${todoItemForm.done}" method="post"
								th:action="@{/restore}" th:object="${todoItem}">
								<input type="hidden" name="id" th:value="*{id}" /> <input
									type="submit" value="Restore" />
							</form>
						</td>
						<td>
							<form th:if="${todoItemForm.done}" method="post"
								th:action="@{/delete}" th:object="${todoItem}">
								<input type="hidden" name="id" th:value="*{id}" /> <input
									type="submit" value="Delete" />
							</form>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</body>
</html>